<include file="base/header" />

    <!-- 这里是页面内容区 -->
    <div class="content">
        <div class="content-block-title">发布页面</div>
    <div class="list-block">
      <ul>
        <li class="align-top">
          <div class="item-content">
            <div class="item-inner">
              <div class="item-input">
                <textarea placeholder="请留言..."></textarea>
              </div>
            </div>
          </div>
        </li>
        <li class="align-top">
          <div class="item-content">
            <div class="item-inner">
              <div class="item-input">
                <div class="up-pic">
                
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="content-block">

        <a href="#" class="button button-big button-fill button-success">提交</a>

    </div>
    </div>

<include file="base/footer" />