</div>
    <!-- 关于 -->
    <div class="popup">
      <div class="content-block">
        <p>关于</p>
        <h4>家纺城公众圈</h4>
        <p>免费为大家发布招聘求职、房屋租售、供求信息、寻人启事等信息。</p>
        <p>请自觉遵守国家相关法律法规，文明留言！</p>
        <p><a href="#" class="close-popup">关闭</a></p>
      </div>
    </div>
    <!--内容结束-->
    <script type='text/javascript' src='__PUBLIC__/lib/jquery.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='__PUBLIC__/light7/js/light7.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='__PUBLIC__/light7/js/light7-swiper.min.js' charset='utf-8'></script>

    <script src="__PUBLIC__/home/js/common.js"></script>
  </body>
</html>