<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>纺城微中介</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="stylesheet" href="__PUBLIC__/light7/css/light7.min.css">
  <link rel="stylesheet" href="__PUBLIC__/light7/css/light7-swiper.min.css">

  <link rel="stylesheet" href="__PUBLIC__/home/css/{$Think.CONTROLLER_NAME}.css">
  
  <script type="text/javascript">
	var current_url = '__SELF__';
	var data = [];data['type'] = 'popup';
  </script>
</head>
<body>
<div class="page">

    <!-- 工具栏 -->
    <nav class="bar bar-tab">
        <a class="tab-item external" href="{:U(MODULE_NAME.'/Index/index')}">
            <span class="icon icon-home"></span>
            <span class="tab-label">首页</span>
        </a>
        <a class="tab-item external" href="{:U(MODULE_NAME.'/List/index')}">
            <span class="icon icon-app"></span>
            <span class="tab-label">列表</span>
        </a>
        <a class="tab-item external" href="{:U(MODULE_NAME.'/Article/add')}">
            <span class="icon icon-message"></span>
            <span class="tab-label">发布</span>
        </a>
        <a class="tab-item external open-popup" href="javascript:;">
            <span class="icon icon-friends"></span>
            <span class="tab-label">关于</span>
        </a>
    </nav>