<include file="base/header" />
    
    <div class="content">
      <div class="content-block-title">{$cate.name}</div>
      <foreach name="art" item="v">
      <div class="card demo-card-header-pic">
        <!-- <div style="background-image:url(http://gqianniu.alicdn.com/bao/uploaded/i4//tfscom/i3/TB10LfcHFXXXXXKXpXXXXXXXXXX_!!0-item_pic.jpg_250x250q60.jpg)" valign="bottom" class="card-header color-white no-border">Title</div> -->
        <div class="card-content">
          <div class="card-content-inner">
            <p>{$v.content}</p>
          </div>
        </div>
        <div class="card-footer">
              <a href="#" class="color-gray">{$v.time|timer=###}</a>
              <if condition="count($v['pic']) gt 0">
              <a href="#" class="link">查看图片</a>
              </if>
              <a href="#" class="color-gray"><if condition="$v['cid'] lt 1">无分类<else/>{$v.cate}</if></a>
              <foreach name="v.pic" item="p">
              <i>__ROOT__/Uploads/{$p.path}{$p.name}</i>
              </foreach>
              
        </div>
      </div>
      </foreach>
    </div>


<include file="base/footer" />